<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <!-- Minified Socket IO library from content delivery network -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

</head>
<body>
    <h1>Clueless Game</h1>
    <br />
    <form id="playerNamePrompt">
        <label>Enter your player name</label>
        <input type="text" id="playerName" name="playerName" placeholder="Player Name" />
        <button id="joinGame">Join Game</button>
        <div id="playerNamePromptErr"></div>
    </form>
    <h3>Current Room</h3>
    <div id="room">No players currently</div>

    <br />
    <button id="startGameButton" onclick="startGame()" style="display:none">Start Game</button>
    <button id="suggestButton" onclick="suggest()" style="display:none">Make Suggestion</button>
    <button id="disproveButton" onclick="disprove()" style="display:none">Disprove</button>
    <button id="accuseButton" onclick="accuse()" style="display:none">Make Accusation</button>
    <button id="endTurnButton" onclick="endTurn()" style="display:none">End Turn</button>
    <button id="resetGameButton" onclick="resetGame()"  style="display:block">Reset Game</button>
    <br />
    <div id="status">Current Status</div>
    <div id="cards">Current Cards</div>
    <script type="text/javascript" src="{{ url_for('static', filename='client.js') }}"></script>

    
</body>
</html>